= simple_form_for @post  do |f|
 .form-horizontal{role: "form", style: "margin-left:20px"}
  .input-group{style: "margin-top:10px"}
   =f.input :image, class: "btn btn-success" 
  .input-group{style: "margin-top:10px"}
   =f.input :title, class: "form-control"
  .input-group{style: "margin-top:10px"}
   =f.input :link, class: "form-control"
  .input-group{style: "margin-top:10px"}
   =f.input :description, class: "form-control"
  .input-group{style: "margin-top:10px"}
   =f.button:submit, class: "btn btn-primary"            